# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build artifacts
dist/
client/dist/
server/dist/

# Environment files
.env
.env.*
client/.env
server/.env

# Keep example env files
!client/.env.development.example
!client/.env.production.example
!server/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor files
.DS_Store
.vscode/
.idea/
Shablon_na_diplomien_proiekt2025-2026.docx
~$ablon_na_diplomien_proiekt2025-2026.docx
примерна 3 глава.txt
примерна 2 глава.txt
примерна 1 глава.txt
останалата част.txt
Shablon_na_diplomien_proiekt2025-2026 (AutoRecovered).docx
ahhhh.txt
~WRL1873.tmp
~$ablon_na_diplomien_proiekt2025-2026 (AutoRecovered).docx
pass.txt
.gitignore
зад.txt
